
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* styling top important section */
.container-fluid {
    background-color: #580c0c;
    color: #f7f7f7;
    text-align: center;
    border-bottom: 2px solid #240505;
}

.container-fluid > p {
    padding-top: 1rem;
    line-height: 2rem;
    font-weight: bold;
}

.dismiss {
    float: right;
    position: absolute;
    top: 1.29rem;
    right: 1rem;
    color: #a58a8a;
    cursor: pointer;
    transition: all .05s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dismiss:hover {
    font-weight: bold;
    border: 2px solid #bebebe;
    border-radius: 1.8rem;
    width: 2rem;
    background: #bebebe;
    color: #131313;
}