@import url("https://fonts.googleapis.com/css?family=Lobster|Titan+One");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Oswald|Play|Signika");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* styling top important section */
.container-fluid {
  background-color: #580c0c;
  color: #f7f7f7;
  text-align: center;
  border-bottom: 2px solid #240505;
}

.container-fluid > p {
  padding-top: 1rem;
  line-height: 2rem;
  font-weight: bold;
}

.dismiss {
  float: right;
  position: absolute;
  top: 1.29rem;
  right: 1rem;
  color: #a58a8a;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.dismiss:hover {
  font-weight: bold;
  border: 2px solid #bebebe;
  border-radius: 1.8rem;
  width: 2rem;
  background: #bebebe;
  color: #131313;
}

.navbar {
  background: #0c0c0c;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.34rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e7e7e7;
}

.navbar-brand:hover {
  color: inherit;
}

.navbar-brand:after {
  display: block;
  content: "";
  border-bottom: solid 3px #eefbfd;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar-brand:hover:after {
  transform: scaleX(1);
}

/*
.navbar-brand:after{ transform-origin:100% 50%; }
.navbar-brand:after{  transform-origin:  0% 50%; }
 */

/* styling search box */
.search-wrapper {
  position: relative;
  left: 18rem;
}

.searcher {
  outline: none;
}

.searcher input {
  width: 18rem;
  height: 1.2rem;
  border: none;
  padding: 0.5rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  color: #646464;
  /* visibility: hidden; */
  /* transition: visibility 250ms ease-in-out, opacity 100ms ease-in-out; */
}

/*  Not working yet
.showSearch {
  visibility: visible;
  opacity: 1;
} */

.searcher input:focus {
  outline: none;
}

.searchIcon {
  width: 3rem;
  background-color: #4c4c4c;
  display: inline-block;
  text-align: center;
  position: relative;
  left: -4px;
  top: 2px;
  height: 35px;
  align-items: center;
  cursor: pointer;
}

.searchIcon .ion-search {
  font-size: 1.4rem;
  color: #141414;
}

/* login and signup hover */
.reg {
  position: absolute;
  right: 1rem;
}

.reg > .btn {
  background-color: transparent;
  color: #e9e9e97e;
  border: 1px solid #af6d0b73;
  width: 4rem;
  transition: width 0.5s ease-in-out;
}

.reg > .btn:hover {
  width: 6rem;
  border: 2px solid #af6d0b;
  font-weight: bold;
  color: #fff;
}
